h1, h3 {
	text-align: center;
}

#pic {
	border-radius: 100%;
	border: solid 10px;
}

#upper {
	background: url(https://upload.wikimedia.org/wikipedia/commons/5/59/Long_beach3.jpg) top center no-repeat;
    background-size: cover;
	color: #FFF;
}

nav a {
	color: blue;
}

nav {
	margin: 0 5px;
}

#skills p {
	border: 1px solid #DDD;
	padding: 25px;
	margin:0 40px;
}

.middle {
	display: inline-block;
}
